<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter, :class => "sr-only" %><br>
    <%= form.text_field :commenter, :class => "form form-control", placeholder: "Commenter"  %>
  </p>
  <p>
    <%= form.label :body, :class => "sr-only" %><br>
    <%= form.text_area :body, :class => "form form-control", placeholder: "Body" %>
  </p>
  <p>
    <%= form.submit :class => "btn btn-primary" %>
  </p>
<% end %>