<%= link_to 'Back', articles_path,:class => "btn btn-success" %><hr>
<h1>Edit article</h1><hr>
 
<%= form_with(model: @article, local: true) do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title,:class => "sr-only" %><br>
    <%= form.text_field :title, :class => "form form-control" %>
  </p>
 
  <p>
    <%= form.label :text, :class => "sr-only" %><br>
    <%= form.text_area :text, :class => "form form-control" %>
  </p>
 
  <p>
    <%= form.submit :class => "btn btn-primary" %>
  </p>
 
<% end %>
